<%- include("./partials/header.ejs") %>

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Product Details</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Product Details </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Product Details  -->

    <div class="shop-detail-box-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active"> <img class="d-block w-100" src="<%= fproduct.imageURL[0]%>" alt="First slide" style="height: 400px;"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="<%= fproduct.imageURL[1]%>" alt="Second slide" style="height: 400px;"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="<%= fproduct.imageURL[2]%>" alt="Third slide" style="height: 400px;"> </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev"> 
						<i class="fa fa-angle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span> 
					</a>
                        <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next"> 
						<i class="fa fa-angle-right" aria-hidden="true"></i> 
						<span class="sr-only">Next</span> 
					</a>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                                <img class="d-block w-100 img-fluid" src="<%= fproduct.imageURL[0]%>" alt="" style="height: 90px;"/>
                            </li>
                            <li data-target="#carousel-example-1" data-slide-to="1">
                                <img class="d-block w-100 img-fluid" src="<%= fproduct.imageURL[1]%>" alt="" style="height: 90px;"/>
                            </li>
                            <li data-target="#carousel-example-1" data-slide-to="2">
                                <img class="d-block w-100 img-fluid" src="<%= fproduct.imageURL[2]%>" alt="" style="height: 90px;"/>
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2><%= fproduct.name%></h2>
                        <h5>Rs <%= fproduct.price%></h5>
						<h4>Short Description:</h4>
						<p style="text-align: justify;"><%= fproduct.description%></p>
                        <p><b>Seller:</b> <%= seller.username%></p>
						<div class="price-box-bar">
							<div class="cart-and-bay-btn">
                                <form action="/wish/<%= fproduct._id%>" method="POST" style="display: inline;">
                                    <button class="btn hvr-hover" style="color: white; border: none;"><i class="fas fa-heart"></i> Add to wishlist</button>
                                </form>
                                <form action="/add/<%= fproduct._id%>" method="POST" style="display: inline;">
                                    <button class="btn hvr-hover" style="color: white; border: none;"><i class="fas fa-shopping-cart"></i> Add to cart</button>
                                </form>
							</div>
						</div>
                    </div>
                </div>
            </div>
			
			<div class="row my-5">
				<div class="card card-outline-secondary my-4" style="width: 100%;">
					<div class="card-header">
						<h2>Product Reviews</h2>
					</div>
					<div class="card-body">
                        <%if(fproduct.comments.length>0){%>
                            <%fproduct.comments.forEach(function(comment){%>
                                <div class="media mb-3">
                                    <div class="mr-2"> 
                                        <img class="rounded-circle border p-1" src="../public/images/favicon.ico" alt="Generic placeholder image">
                                    </div>
                                    <div class="media-body">
                                        <p style="text-align: justify;"><%= comment.text%></p>
                                        <h4 class="text-muted" style="float: right;">Posted by <b><%= comment.author.username%></b> on <%= comment.date%></h4>
                                        <%if(user && comment.author.id.equals(user._id)){%>
                                        <div style="display: contents;">
                                            <a href="/comments/edit/<%=fproduct._id%>/<%=comment._id%>" style="padding: 2px;"><button class="btn hvr-hover" style="border: none; background: limegreen; color: white;"><b>Edit</b></button></a>
                                            <form action="/comments/delete/<%=fproduct._id%>/<%=comment._id%>?_method=DELETE" method="POST" style="display: inline;">
                                                <button class="btn hvr-hover" style="border: none; background: red; color: white;"><b>Remove</b></button>
                                            </form>
                                        </div>
                                        <%}%>
                                    </div>
                                </div>
                                <hr>
                            <%})%>
                        <%}else{%>
                        <h4 style="text-align: center;">Be First One To Comment.</h4>
                        <%}%>
						<a href="/comments/new/<%= fproduct._id%>" class="btn hvr-hover" style="float: right;">Leave a Review</a>
					</div>
				  </div>
			</div>

        </div>
    </div>
    <!-- End Cart -->

    <%- include("./partials/footer.ejs") %>